.container-fluid {
    margin-top: 1%;
}

.card-group {
    text-align: center;
}

.card1 {
    width: 500px;
    height: 650px;
    margin-right: 40px;
    margin-left: 50px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card2 {
    width: 500px;
    height: 710px;
    margin-right: 40px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card3 {
    width: 500px;
    height: 550px;
    margin-right:40px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card4 {
    width: 500px;
    height: 650px;
    margin-right: 40px;
    background-color: rgba(0,0,0,0.5) !important;
}
.cardlogin {
    width: 300px;
    height: 280px;
    margin-right: 40px;
    margin-top: 200px;
    background-color: rgba(255, 255, 255,0.8) !important;
}
.left {
    width: 70px;
    height: 70px;
}

.right {
    width: 70px;
    height: 70px;
}

body {
    background-image: url(../images/b.jpg);
}
